// html editor
 @import "froala_editor.min";
 @import "froala_style.min";
 @import 'froala-editor/css/plugins/fullscreen.css';
 @import 'froala-editor/css/plugins/colors.css';
 @import 'froala-editor/css/plugins/image.css';
 @import 'froala-editor/css/plugins/image_manager.css';
 @import 'froala-editor/css/plugins/emoticons.css';
 @import 'froala-editor/css/plugins/code_view.css';
 @import 'froala-editor/css/plugins/line_breaker.css';

//  #= :required()
//  require plugins/colors.min.js
// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// // External libraries
// // @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,::after, ::before,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}